/* Add here all your CSS customizations */
.pac-container { z-index: 100000 !important; }
.errors{
    color: #de0000;}

.slider-contact-form-wrapper .slider-contact-form {
    background: rgba(30, 59, 118, 0.72);

}

.btn-group-lg>.btn, .btn-lg {
    padding: .30rem .30rem;
}

#header .header-nav-main nav > ul > li > a{
    font-size: 15px;
}


#header .header-nav-main.header-nav-main-dark nav > ul > li.active > a{
    color: #2388ed;
}

#footer .fab{
    font-size: 22px;
}

.social-icons li{
    margin: -1px 5px 0 3px;
}


.social-icons li a{
    height: 40px;
    width: 40px;
    padding-top: 6px;
    padding-left: 2px;
}

.section.section-background{
    position: relative;
}

.section.section-background:before, .parallax-background:before{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.60);
}

.tparrows:before{
    font-size: 34px;
}

.steps .item .item-title{
    top: 75%;
}

.steps .item .item-title span{
    top: -75px;
}

.steps .item .item-title:after{
    display: none;
}

.steps .item.active .item-title{
    color: #1c1f21;
}

#revolutionSlider img{
    -webkit-filter: brightness(0.7); /* Safari 6.0 - 9.0 */
    filter: brightness(0.7);
}

#revolutionSlider .tp-caption{
    font-weight: 600 !important;
}

.header-column .btn-outline.btn-primary{
    padding: 6px 20px;
    margin-right: 20px;
}

#estimate_btn{
    margin-right: 0;
}

.home-service{
    margin-bottom: 40px;
}

.banner-title{
    margin-bottom: 35px !important;
}

p.banner-para{
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 15px;
    padding: 0 30px;
}

.banner-para .strong-bold{
    font-weight: 600;
    padding: 15px 0;
}

/*Services*/
#export, #clean-source-code, #amazing-features{
    position:relative;
    cursor: pointer;
}

#export:before, #clean-source-code:before, #amazing-features:before{
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(194, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: block;
    content: " ";
    z-index: 2;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    opacity: 0;
}

#export:hover:before, #clean-source-code:hover:before, #amazing-features:hover:before{
    opacity: 1;
}

.on-hover{
    position: absolute;
    opacity: 0;
    width: 100%;
    top: 43%;
    z-index: 2;
    -webkit-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s cubic-bezier(0, 0.86, 1, 1);
    transition: all 0.5s cubic-bezier(0, 0.86, 1, 1);
}

.on-hover p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 22px;
    text-align: center;
}

#export:hover .on-hover, #clean-source-code:hover .on-hover, #amazing-features:hover .on-hover{
    opacity: 1;
}

/*Login*/
.onSignin .btn-primary{
    border-color: #fff;
    margin-top: 20px !important;
}

.onRegister .btn-primary{
    display: block;
    margin-top: 35px !important;
    width: 100%;
    border-color: #2388ed;
    text-align: center;
}

.login-page{
    margin-bottom: 100px;
}

.login-page-left{
    padding: 0 45px 0 0;
}

.login-page-right{
    padding: 0 0 0 45px !important;
}


/*Media Queries*/

@media only screen and (max-width: 1199px) and (min-width: 992px){
    #header .header-nav-main nav > ul > li > a{
        font-size: 15px;
    }
}

@media only screen and (max-width: 992px){
    #header .header-nav-main nav > ul > li > a{
        font-size: 15px;
    }
}

@media only screen and (max-width: 991px){
    #header .header-nav-main nav > ul li a:not(.btn){
        color: #FFF;
    }
    #services{
        margin-bottom: 0px;
    }
    .login-page-custom{
        -ms-flex-pack: space-between !important;;
        justify-content: space-between !important;
    }
    .login-page-custom .custom-wrap{
        padding: 2rem !important;
    }
    .login-page-left{
        padding: 0;
    }
    .login-page-right{
        padding: 0 !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .on-hover p{
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px){
    .login-page{
        margin-bottom: 40px;
    }
    .login-page-custom .custom-wrap{
        padding: 3rem 2.5rem !important;
        margin: 0 30px;
    }
}

@media only screen and (max-width: 425px){
    .login-page-custom .custom-wrap{
        padding: 35px 30px !important;
        margin: 0 35px;
    }
}

.pharmacist-list{
    background: #fff;
    margin: 6px;
    box-shadow: 0px 2px 2px #f7f7f7;
    border: 1px solid #eaeaea;
}

.pharmacist-list h4 label{
    font-weight: 400;
    color: #a5a3a3;
}

.pharmacist-list p{
    padding-bottom:5px
}
.pharmacist-radio{
    margin-top: 30px;
    margin-left: 15px;
    transform: scale(1.3);
}

.pharmacist-list h4{
    font-size: 18px;
    padding-top: 8px;
    font-weight: 700;
    color: #000;
}

.pharmacist-list img{
    height: 80px;
    width: 80px;
    border-radius: 18px;
    margin: 3px 0px;
}

.section-height-1{
    margin:0;
    padding:0 !important
}




.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    /*border-radius: 30px;*/
    padding: 10px;
    position: relative;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 450px;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 450px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

.search_list{
    position: absolute;
    background: white;
    width: 100%;
    box-shadow: 0 4px 5px #e0dfdf;
    height: 295px;
    top: 60px;
    left: 0;
    z-index: 1;
    display: none;
}

.search_list ul{
    list-style: none;
    text-align: left;
    background: whitesmoke;
    padding: 0;

}

.search_list ul li{
    border-bottom: 1px solid #dedede;
    padding-left: 10px;
    padding-bottom: 22px;
}

.search_list ul img{
    float: left;
    padding-top: 10px;
}

.search_list ul li a, .search_list span{
    padding-left: 20px;
}

.pre-detail{
    margin: 25px 0px;
    box-shadow: 0 0 15px #f7f7f7;
}

.pre-title h4{
    margin-bottom:40px;
    margin-top: 15px;
    position: relative
}

.pre-title h4:before{
    content: "";
    width: 35px;
    height: 6px;
    position: absolute;
    top: 30px;
    left: 0;
    background: #2794ef;
    border-radius: 30px;
    
}

.pre-images img{
    height: 120px;
    width: 130px;
    border-radius: 18px;
    margin: 3px 0px;
}

.header-row a, .header-row i{
    color:#fff
}


.news-wrap img{
 width:100%;
 height: 250px;
 object-fit: cover;   
}

.image-frame-wrapper img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.blog-post{
    padding: 10px 15px;
    box-shadow: 0 0 10px #cacaca;
    display: grid;
    min-height: 450px
}

.patient-login .rounded{
    border-radius:0 !important
}
.patient-login .p-5{
    padding:2rem !important;
    box-shadow: 0 7px 15px #ececec;
    border: 0 !important;
}


.more-about-us .card{
    box-shadow: 0 0 15px #f3f3f3;
    padding: 25px 20px;
}

.more-about-us .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.contact-head .mb-5{
    margin-bottom: 0 !important
}


.owl-stage-outer img{
    width: 380px;
    height: 305px;
    object-fit: cover;
}

.card-style-5{
    width: 100%;
    min-height: 230px;

}











